<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916111794323-66s4gs0l1ahsgqlltj6aicjio20168rg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916111794323-66s4gs0l1ahsgqlltj6aicjio20168rg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>916111794323-eqqj9lu03938ldcipvri0pvblb2k6ele.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDWJ0KOK7XFiFegpmGayzutj5QA4JR7Ybc</string>
	<key>GCM_SENDER_ID</key>
	<string>916111794323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bestflutteruitemplates</string>
	<key>PROJECT_ID</key>
	<string>smart-solutions-bbe5a</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-solutions-bbe5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916111794323:ios:e0320a14f4c8ae48b42d66</string>
	<key>DATABASE_URL</key>
	<string>https://smart-solutions-bbe5a.firebaseio.com</string>
</dict>
</plist>